<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OTP Email</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif; min-width: 1000px; overflow: auto; line-height: 2;">
<div style="margin: 50px auto; width: 70%; padding: 20px 0;">
    <div style="border-bottom: 1px solid #eee;">
        <a href="" style="font-size: 1.4em; color: #00466a; text-decoration: none; font-weight: 600;">Shopee</a>
    </div>
    <p style="font-size: 1.1em;">Hi, <span th:text="${fullName}"></span></p>
    <p>This is your OTP. Use the following OTP to complete your Sign Up procedures. OTP is valid for 5 minutes</p>
    <h2 style="background: #00466a; margin: 0 auto; width: max-content; padding: 0 10px; color: #fff; border-radius: 4px;"
        th:text="${otp}"></h2>
    <p style="font-size: 0.9em;">Regards,<br/>Shopee support</p>
    <hr style="border: none; border-top: 1px solid #eee;"/>
    <div style="float: right; padding: 8px 0; color: #aaa; font-size: 0.8em; line-height: 1; font-weight: 300;">
        <p>Shopee Fake Inc</p>
        <p>334 Nguyen Trai, Thanh Xuan</p>
        <p>Ha Noi</p>
    </div>
</div>
</body>
</html>
